<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>DepotAnnonces</display-name>
    <servlet-name>DepotAnnonces</servlet-name>
    <servlet-class>DepotAnnonces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepotAnnonces</servlet-name>
    <url-pattern>/vintud/create/announcement</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Affiche_Annonces</display-name>
    <servlet-name>Affiche_Annonces</servlet-name>
    <servlet-class>Affiche_Annonces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Affiche_Annonces</servlet-name>
    <url-pattern>/vintud/announcements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnoucementController</display-name>
    <servlet-name>AnnoucementController</servlet-name>
    <servlet-class>AnnoucementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnoucementController</servlet-name>
    <url-pattern>/AnnoucementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInController</display-name>
    <servlet-name>SignInController</servlet-name>
    <servlet-class>SignInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInController</servlet-name>
    <url-pattern>/SignInController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>signUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MesAnnonces</display-name>
    <servlet-name>MesAnnonces</servlet-name>
    <servlet-class>MesAnnonces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesAnnonces</servlet-name>
    <url-pattern>/MesAnnonces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifierMesAnnonce</display-name>
    <servlet-name>modifierMesAnnonce</servlet-name>
    <servlet-class>modifierMesAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifierMesAnnonce</servlet-name>
    <url-pattern>/modifierMesAnnonce</url-pattern>
  </servlet-mapping>
</web-app>